/* -----------------------------------------------------------------------------
* List
* ----------------------------------------------------------------------------- */

.tribe-ext-events-control-list-status.tribe-ext-events-control-list-status--canceled,
.tribe-ext-events-control-list-status.tribe-ext-events-control-list-status--postponed {
	float: left;
	margin-right: 8px;
}

.tribe-ext-events-control-list-status.tribe-ext-events-control-list-status--canceled .tribe-ext-events-control-list__red-text,
.tribe-ext-events-control-list-status.tribe-ext-events-control-list-status--postponed .tribe-ext-events-control-list__red-text {
	color: #DA394D;
	font-weight: 700;
}